<header class="relative">
  <div class="bg-clickco-blue-500 py-6">
    <nav
      class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6"
      aria-label="Global"
    >
      <div class="flex items-center flex-1">
        <div
          class="flex items-center justify-between w-full md:w-auto"
        >
          <a href="/"
            ><span class="sr-only">ClickCo</span
            ><img
              class="h-8 w-auto sm:h-10"
              src="/static/img/logo-white.png"
              alt=""
          /></a>
          <div
            x-data="{showMenu: false}"
            class="flex items-center justify-end md:hidden"
          >
            <div
              x-show="showMenu"
              x-transition:enter="transition duration-200 transform ease-in-out"
              x-transition:enter-start="fade-50 opacity-0"
              x-transition:leave="transition duration-100 transform ease-in-out"
              x-transition:leave-end="opacity-0 fade-90"
              class="fixed inset-0 z-50 w-full h-full"
            >
              <div
                class="absolute z-30 top-0 inset-x-0 p-2 transition transform origin-top md:hidden opacity-100 scale-100"
                id="headlessui-popover-panel-3"
                tabindex="-1"
              >
                <div
                  class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden"
                >
                  <div
                    class="px-5 pt-4 flex items-center justify-between"
                  >
                    <div>
                      <img
                        class="h-8 w-auto"
                        src="/static/img/logo.png"
                        alt=""
                      />
                    </div>
                    <div class="-mr-2">
                      <button
                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-clickco-gray-400 hover:bg-clickco-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-clickco-turquoise-600"
                        type="button"
                        tabindex="0"
                        @click="showMenu = false"
                      >
                        <span class="sr-only">Close menu</span
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          aria-hidden="true"
                          class="h-6 w-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18L18 6M6 6l12 12"
                          ></path>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="pt-5 pb-6">
                    <div class="px-2 space-y-1">
                      <a
                        href="/"
                        class="block px-3 py-2 rounded-md text-base font-medium text-clickco-blue-500 hover:bg-clickco-gray-50"
                        >Home</a
                      >
                      {% if navigation.items %} {% for item in
                      navigation.items %}
                      <a
                        href="{{ item.url }}"
                        class="block px-3 py-2 rounded-md text-base font-medium text-clickco-blue-500 hover:bg-clickco-gray-50"
                        >{{ item.text }}</a
                      >
                      {% endfor %} {% endif %}
                    </div>
                    <div class="mt-6 px-5">
                      <a
                        class="block text-center w-full py-3 px-4 rounded-md shadow bg-gradient-to-r from-clickco-turquoise-500 to-clickco-turquoise-600 text-white font-medium hover:from-clickco-turquoise-600 hover:to-clickco-turquoise-700"
                        href="/"
                        >Free Consultation</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="-mr-2 flex items-center md:hidden">
              <button
                class="bg-clickco-blue-500 rounded-md p-2 inline-flex items-center justify-center text-clickco-gray-400 hover:bg-clickco-gray-800 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white"
                id="headlessui-popover-button-2"
                type="button"
                aria-expanded="false"
                @click="showMenu = true"
              >
                <span class="sr-only">Open main menu</span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4 6h16M4 12h16M4 18h16"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div
          class="hidden font-kumbh-sans space-x-8 md:flex md:ml-10"
        >
          {% if navigation.items %} {% for item in navigation.items %}
          <a
            href="{{ item.url }}"
            class="text-base font-bold text-white hover:text-clickco-turquoise-400"
            >{{ item.text }}</a
          >
          {% endfor %} {% endif %}
        </div>
      </div>
      <div class="hidden md:flex md:items-center md:space-x-6">
        <a
          class="inline-flex items-center px-4 py-2 border border-transparent text-base font-bold rounded-md text-white bg-clickco-turquoise-600 hover:bg-clickco-turquoise-700"
          href="/consultation"
          >Free Consultation</a
        >
      </div>
    </nav>
  </div>
</header>
